{{>header}}

<h1>Contacto</h1>

<form class="formulario">
    <input type="text" id="name" placeholder="Nombre">
    <input type="text" id="lastname" placeholder="Apellido">
    <input type="email" id="email" placeholder="Email">
    <input type="text" id="phone" placeholder="Telefono">
    <textarea name="message" id="message" cols="30" rows="10" placeholder="Mensaje"></textarea>
    <button type="button" id="btnEnviar">Enviar</button>

</form>