<div class="upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="uploadContainer">
            <input type="file" name="file"> 
        </div>

        <div class="uploadContainer">
            <input type="text" name="title" placeholder="Título de la imagen">
        </div>

        <div class="uploadContainer">
            <input type="text" name="description" placeholder="Descripción">
        </div>

        <div class="uploadContainer">
            <button class="btn">Subir</button>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>