<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/realtimeproducts">Administración de productos</a></li>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/api/carts">Carritos</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/chat">Chat</a></li>
    </ul>
</nav>